@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$base-color: #9875c4;
$box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
$white-color: #fff;

body {
    background: $base-color;
    font-family: 'Roboto', sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .quiz-box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        width: 600px;
        max-width: 100%;
        height: 60vh;
        background-color: $white-color;
        padding: 1rem 2rem;
        border-radius: 7px;
        box-shadow: $box-shadow;
        z-index: 2;
        .loader {
            position: absolute;
            width: 2rem;
            height: 2rem;
            border: 5px solid #f3f3f3;
            border-top: 6px solid $base-color;
            border-radius: 100%;
            visibility: hidden;
            animation: spin 1s infinite linear;
            z-index: 999;
        }
        .answers-side {
            display: flex;
            width: 100%;
            flex-direction: column;
            .answer-buttons {
                padding: 6px 20px;
                border: none;
                background: #eee;
                font-size: 1rem;
                margin: 0rem 0rem 0.5rem 0rem;
                border-left: 5px solid $base-color;
                text-align: left;
                color: #000;
                cursor: pointer;
            }
        }
        .quiz-indicator {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 5px;
            border-radius: 10px;
            transition: width 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
            background: #c845b0;
            z-index: 5;
        }
        .next-btn {
            position: absolute;
            bottom: 3%;
            left: 50%;
            transform: translate(-50%, -3%);
            padding: 8px 28px;
            border: none;
            outline: none;
            line-height: 1rem;
            color: $white-color;
            border-radius: 5px;
            font-weight: bold;
            font-size: 1rem;
            background: $base-color;
            cursor: pointer;
            transition: 0.2s all ease-in-out;
            display: none;
            z-index: 6;
            &:hover {
                background: rgba(152, 117, 196,0.8);
            }
        }
        .restart-game-btn {
            padding: 0.7rem 1.6rem;
            border: none;
            outline: none;
            background: transparent;
            color: #000;
            border-radius: 2rem;
            font-weight: bold;
            font-size: 1rem;
            line-height: 1rem;
            white-space: nowrap;
            border: 2px solid $base-color;
            cursor: pointer;
            transition: 0.2s all ease-in-out;
            &:hover {
                background: rgba(152, 117, 196,0.7);
            }
        }
        .score-tag {
            color: #ffa500;
            font-weight: 900;
            text-decoration: underline;
        }
    }
}

.main-menu {
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: $base-color;
    color: $white-color;
    z-index: 9;
    .menu-title {
        font-size: 2rem;
        padding: 0.8rem;
        border-radius: 12px;
        box-shadow: $box-shadow;
        background: #cf3cb4;
    }
    select, .choose-button {
        border-radius: 2px;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        color: $white-color;
        border: none;
        background: none;
        border: 2px solid $white-color;
        &:focus {
            outline: none;
        }
    }
    select {
        option {
            color: #1b1a1b;
            border: none;
        }
    }
    .choose-button {
        margin-left: 1rem;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateX(100%);
            background: #cf3cb4;
            z-index: -1;
            transition: transform 0.2s ease;
        }
        &:hover::before {
            transform: translateX(0%);
        }
    }
}

.correct {
    background: #3cd46a !important;
    color: $white-color !important;
}

.incorrect {
    background: #ff004c !important;
    color: $white-color !important;
}
.loader-active {
    visibility: visible !important;
}
// loading animation 
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}